@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Montserrat", Arial, sans-serif;
  color: white;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 6rem;
}

header .khs-logo {
  filter: invert();
  width: 27rem;
  user-select: none;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slogan-text {
  margin: 0;
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 1rem;
  font-weight: 700;
}

.youtube-video {
  margin-left: 10rem;
  border-radius: 1rem;
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slogan-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.white-button {
  font-family: "Montserrat", Arial, sans-serif;
  height: 2.5rem;
  width: 6rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.secondary-button {
  font-family: "Montserrat", Arial, sans-serif;
  height: 2.5rem;
  width: 6rem;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.khs-image {
  height: 23rem;
  border-radius: 3rem;
  margin-left: 10rem;
}

.khs-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 23rem;
  width: 23rem;
  border-radius: 3rem;
  margin-left: 10rem;
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.khs-logo-letters {
  color: black;
  font-weight: 900;
  font-size: 5rem;
  margin-left: 2.5rem;
  letter-spacing: 2.5rem;
  z-index: 1;
  user-select: none;
}

.about-wrapper {
  text-align: center;
  width: 30rem;
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.about-us-text {
  margin-left: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 1rem;
}

.about-buttons {
  margin-top: 2rem;
}

.artist-image {
  height: 25rem;
  border-radius: 3rem;
  user-select: none;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

.artist-link {
  color: white;
  text-decoration: none;
}

.artist-linka:visited {
  color: white;
}

.artists-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artists-wrapper h2 {
  margin-bottom: 0;
}

.artists-wrapper span {
  color: #e4e4e4;
}

.artists-wrapper .white-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

.artist-details-wrapper {
  text-align: center;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-1 16:20:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-1 16:21:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-1 16:24:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* Mobile Resizing */
@media only screen and (max-width: 1000px) {
  header .khs-logo {
    width: 25rem;
  }

  .youtube-video {
    height: 20rem;
    width: 30rem;
    margin-left: 5rem;
  }

  .khs-logo-wrapper {
    height: 20rem;
    width: 20rem;
    margin-left: 5rem;
  }

  .khs-logo-letters {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 850px) {
  header .khs-logo {
    width: 21rem;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .slogan-wrapper {
    margin-bottom: 2rem;
  }

  .youtube-video {
    height: 17rem;
    width: 25rem;
    margin-left: 0rem;
  }

  .about-wrapper {
    width: 25rem;
  }

  .about-wrapper p {
    font-size: 0.8rem;
  }

  .khs-logo-wrapper {
    display: none;
  }

  .artist-image {
    height: 20rem;
  }
}

@media only screen and (max-width: 450px) {
  header .khs-logo {
    width: 17rem;
  }

  .youtube-video {
    height: 15rem;
    width: 20rem;
    margin-left: 0rem;
  }

  .about-wrapper {
    width: 19rem;
  }

  .khs-logo-letters {
    font-size: 3rem;
  }

  .artist-image {
    height: 17rem;
  }
}
